<header class="site-header" role="banner">
  <div class="wrapper">
    <h1>
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
        {% include ragtag-mark.svg %} Brand &amp; Style Guide
      </a>
    </h1>
  </div>
</header>

<nav class="site-nav">
  <div class="wrapper">
    <a href="/" title="Ragtag Brand" class="site-nav-link{% if page.url == '/' %} site-nav-link-current{% endif %}">Ragtag Brand</a>
    <a href="/builder/" title="Ragtag Brand Builder" class="site-nav-link{% if page.url == '/builder/' %} site-nav-link-current{% endif %}">Ragtag Brand Builder</a>
    <a href="/helpdesk/" title="Ragtag Helpdesk" class="site-nav-link{% if page.url == '/helpdesk/' %} site-nav-link-current{% endif %}">Ragtag Helpdesk</a>
  </div>
</nav>
