html {
  padding-top: 74px;
}

.site-header {
  background: $white;
  box-shadow: $box-shadow;
  left: 0;
  line-height: 1;
  padding: 12px 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;

  h1 {
    font-size: inherit;
    margin: 0;
  }
}

.site-title {
  align-items: center;
  color: $black;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-weight: 700;
  justify-content: center;
  text-decoration: none;
  transition: 0.2s;
  will-change: color;

  &:hover,
  &:focus,
  &:active {
    color: $orange;
  }

  .ragtag-mark {
    flex: 1 1 auto;
    height: 48px;
    margin-right: 12px;
    width: auto;

    // &-shadow {
    //   stroke: currentColor;
    // }
    //
    // &-type {
    //   fill: currentColor;
    // }
  }
}

.site-nav {
  border-bottom: 1px solid $gray-light;
  margin: 0.25rem 0 -0.5rem;

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  &-link {
    color: $gray;
    display: inline-block;
    font-size: 0.875rem;
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s;
    will-change: color;

    &:hover,
    &:active,
    &:focus {
      color: $orange;
    }

    &-current {
      color: $orange;
    }
  }
}
